.gradient-custom-2 {
    /* fallback for old browsers */
    background: #0D7C66; /* Red */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #0D7C66, #0D7C66); /* Red, Black */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0D7C66, #0D7C66); /* Red, Black */
}

/* For login button */
.login-btn {
    width: 180px;
    background-color: #0D7C66; /* Change to match design */
}

/* For register link */
a.btn {
    color: #007bff; /* Blue color for the link */
    font-weight: bold; /* Bold */
    text-decoration: underline; /* Underline to match design */
}
.register-box {
    width: 600px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
